/*This is my 377 FoCo Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  background-image: url("images/dreamychairsetting-bg-2-nograin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
 	
}

.center {
    width: 600px;
	padding: 2%;
    margin: 100px auto;
 	background: rgba(239, 242, 243, 0); /*this uses opacity of 75% for the background color*/
	text-align: center;
	border: 4px dashed rgba(255, 255, 255, 0);
	position: fixed;
	top: 38%;
	left: 0;
	right: 0;

}

   
#logo {
    margin: auto;
	border: 3px dashed rgba(255, 0, 0, 0);
	text-align: center;
	position: fixed;
	top: 8%;
	left: 0;
	right: 0;
}

h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: fira-sans, sans serif;
	font-weight: 100;
	font-style: italic;
	font-size: 1.4em;
    margin: -10px auto 20px auto;
    color: rgb(2, 2, 2);
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: fira-sans, sans serif;
	font-weight: 300;
	font-style: normal;
    font-size: 1em;
	line-height: 1.4;
    color: rgb(253, 253, 253);
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

h3 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
   font-family: fira-sans, sans serif;
   font-weight: 300;
   font-style: normal;
   font-size: 1em;
   line-height: 1.4;
   color: rgb(2, 2, 2);
   padding: 0px 0px;
   margin: 0px auto 9px auto;
}


p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */		;
	font-family: fira-sans, sans serif;
	font-weight: 100;
	font-style: normal;
	font-size: 0.8em;
    line-height: 1.6;
    color: black;
	margin: 0px auto 0px auto
}
    
nav {
	font-family: fira-sans, sans serif;
	font-size: 1.2em;
	width: 450px; /* This is the width of the nav element */margin: 0 auto; /* This centers the entire nav element inside the center div */
	border: dashed rgba(64, 224, 208, 0);
	border-width: 3px 0; /* This puts a 3 pixel border on top and bottom of the nav element, the zero eliminates the left and right sides of the border */
	text-align: left;
	margin-top: 2em; /* This adds a bit of space above the nav element */
	position: fixed;
	top: -1%;
	left: 2.5%;
}   

nav li {
	display: inline; /* This allows the block level elements to display next to one another */
}

a {
	color: #444;
	text-decoration: none; /* This removes the underline */
	font-weight: bold;
}

a: hover {
	color: black;
	background: pink; /* This is the pink hover effect -- you’ll want to change this! */
}






@import "compass/css3";

div {
  width: 400px;
  margin: 30px;
}

h2 {
  font: 400 25px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #000;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 210px;
}

li a:hover {
  font-size: 25px;
  background: #f6f6f6;
}








